body{
	background-color: #fff;
}
body,
h1, h2, h3, h4, h5, h6,p{
font-family:sans-serif;
font-weight: normal;

}
a,a:focus, a:hover {
    color: #006193;
}
header{}
footer{
	background: #f0f0f0;
	height: 85px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.footer-logo{
	float: left;
    padding-top: 6px;
}
.footer-logo img{
	    width: 145px;
    height: 41px;
}
.marketing-hero {

overflow: visible;
position: relative;
text-align: center;
}
.hero-area {
/* background-color: transparent;
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(0,0,0,.4)));
background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.8));
background-image: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.8));
background-image: -o-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.8));
background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,.8));
 */color: #fff;
}
.marketing-hero .hero-main-header {
color: #fff;
text-align: center
}
@media screen and (max-width: 768px) {
.marketing-hero .hero-main-header {
font-size: 1.875rem;
font-weight: 200
}
}
.marketing-topbar {
background: rgba(0,0,0,0.6);
background-color: #fff;
font-weight: bold;
position: relative;
padding-top: 15px;
padding-bottom: 15px; 
}
.marketing-topbar::before,.marketing-topbar::after {
content: ' ';
display: table
}
.marketing-topbar::after {
clear: both
}
.marketing-topbar a:first-child {
float: left
}
.marketing-topbar a:last-child {
float: right
}
.marketing-topbar a.back-top{
color: #006193;
height: 45px;
line-height: 45px !important;
padding-bottom: 0 !important;
padding-top: 0 !important;
display: none;
}
.logo{
background-image: url('../images/logo.png');
background-size: contain;
background-repeat: no-repeat;
display: inline-block;
width: 171px;
height: 52px;
}
.hero-area{
padding: 50px;
min-height: 350px;
background: #244a67;
background-image: url(../images/bg-hero.jpg);
background-position: center;
background-size: cover;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);

}
.hero-area.retail-hero{
	background-image: url(../images/bg-hero2.jpg);
}
.hero-area.more-hero{
	background-image: url(../images/bg-hero3.jpg);
}
.hero-header{
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;

background-color: rgba(36,74,103,0.5);
}
.form-area,
.goal-area,
.video-area,
.risk-area,
.detail-area,
.faq-area,
.need-area{
padding-top: 50px;
padding-bottom: 50px; 
}
.form-area .form-title{
/* margin: 0px auto 15px;
width: 100%;
text-transform: uppercase;
color: #666;
display: block;
border-bottom: 1px solid #7ebce1;
margin-bottom: 50px;
text-align: left;  */
}
.risk-area .process-wrap{
/* background-color: #006193; */
}
.risk-area .process-wrap h2{
margin: 20px 0;
/* color: #fff;  */
}
.goal-area h2{
margin: 0px auto 20px; 
}
.form-area h2{
}
.form-area .enter-income {
padding: 0px;
width: 195px;
text-align: center;
font-size: 1em;
margin-top: -45px;
margin-left: 10px;
display: inline-block;
position: relative;
background-color: transparent;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
}
.form-area .enter-age {
padding: 0px;
transition: 0.3s ease-in-out;
width: 70px;
text-align: center;
font-size: 1em;
display: inline-block;
background-color: transparent;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
}
.form-area .border {
border-width: 0px 0px 1px;
border-style: none none solid;
border-color: currentColor currentColor rgb(153, 153, 153);
border-image: none;
}
.form-area .sentence {
 color: #333;
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.form-area input {
outline: 0px;
color: rgb(22, 137, 229);
line-height: 1;
font-weight: 300;
box-shadow: none;
}
input[type=tel] {
margin: 5px 0px;
padding: 10px;
outline: 0px;
border-radius: 1px;
border: 1px solid rgb(153, 153, 153);
transition: 0.5s ease-in-out;
border-image: none;
font-family: inherit;
font-size: 16px;
font-weight: 300;
background-clip: padding-box;
background-color: rgb(255, 255, 255);
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
}
.form-area input:focus{
box-shadow: none;
}
.panel-header {
padding: 15px 20px;
background-color: #006193;
color: #fff;
text-align: right;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
.panel-header h4 {
display: inline-block;
vertical-align: middle;
float: left;
color: #fff;
font-size: 24px;
margin-top: 10px;
}
.goals {
padding: 10px 0 0;
}
.panel-header p {
display: inline-block;
font-size: 1.25em;
margin-left: 36px;
text-align: right;
vertical-align: middle;
margin-bottom: 0;
}
.editable label, .static label {
display: block;
font-size: 12px;
color: #fff;
}
[editable] {
display: none;
}
[editable] input {
width: 100%;
outline: 0;
border: 0;
background: 0;
font-size: 100%;
}
.panel-header [editable] input {
text-align: right;
font-weight: 300;
padding: 0 0 0 1px;
margin-right: -1px;
color: #fff;
border-bottom: 1px solid #fff;
height: 26px;
}
.goals ul {
list-style-type: none;
}
.lucy-panel,
.goals .goal {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 3px;
overflow: hidden;
}
.goals .goal {
padding: 18.40491px 36.80982px 36.80982px;
width: 100%;
margin-bottom: 10px;
overflow: visible;
}
.goals .goal .goal-flexbox {
display: -webkit-box;
display: -moz-box;
display: box;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
align-items: flex-start;
flex-wrap: wrap;
}
.goals .goal .goal-flexbox [class^=donut-region] {
width: 210px;
height: 210px;
-webkit-box-flex: 0;
-moz-box-flex: 0;
box-flex: 0;
-webkit-flex: 0 0 210px;
-moz-flex: 0 0 210px;
-ms-flex: 0 0 210px;
flex: 0 0 210px;
}
.goals .goal .goal-flexbox .goal-content {
width: 50%;
min-width: 325px;
padding: 40px 40px 0;
-webkit-box-flex: 1;
-moz-box-flex: 1;
box-flex: 1;
-webkit-flex: 1 1 auto;
-moz-flex: 1 1 auto;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
}
.goals .goal .goal-flexbox .goal-action {
width: 175px;
-webkit-box-flex: 0;
-moz-box-flex: 0;
box-flex: 0;
-webkit-flex: 0 0 175px;
-moz-flex: 0 0 175px;
-ms-flex: 0 0 175px;
flex: 0 0 175px;
text-align: center;
padding-top: 90px;
}
table tbody, table tfoot, table thead{
background: transparent; 
}
table tbody tr:nth-child(even){
background: transparent;
}
.detail-area table thead,
.detail-area table tfoot{
color: #333;
}
.detail-area table td{
position: relative;
}
.detail-area table td .dollar-sign {
font-size: 1.125em;
position: absolute;
top: 10px;
width: 30px;
}
.detail-area table td .recommended{
color: #006193;
display: inline-block;
border-bottom: 1px dashed #006193;
}
.detail-area input{
padding-left: 30px;
border: none;
background: transparent;
box-shadow: none;
border-bottom: 1px solid #006193;
height: 30px;
width: 90%;
}
.performance{
color: #333;
display: block; 
}
table tfoot td,table tbody td,table thead td{
color: #333;
font-weight: normal;
}
table tbody th{
padding-top: 20px;
}
table tfoot th{
padding-top: 20px;
color: #333;
}
.faq-area li {
-webkit-perspective: 400px;
perspective: 400px;
}
.info {
-webkit-transform: rotate3d(1, 0, 0, 90deg);
transform: rotate3d(1, 0, 0, 90deg);
width: 100%;
height: 100%;
padding: 20px;
position: absolute;
top: 0;
left: 0;
border-radius: 4px;
pointer-events: none;
background-color: rgba(0, 97, 147, 0.9);;
}
.in-top .info {
-webkit-transform-origin: 50% 0%;
transform-origin: 50% 0%;
-webkit-animation: in-top 300ms ease 0ms 1 forwards;
animation: in-top 300ms ease 0ms 1 forwards;
}
.in-right .info {
-webkit-transform-origin: 100% 0%;
transform-origin: 100% 0%;
-webkit-animation: in-right 300ms ease 0ms 1 forwards;
animation: in-right 300ms ease 0ms 1 forwards;
}
.in-bottom .info {
-webkit-transform-origin: 50% 100%;
transform-origin: 50% 100%;
-webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
animation: in-bottom 300ms ease 0ms 1 forwards;
}
.in-left .info {
-webkit-transform-origin: 0% 0%;
transform-origin: 0% 0%;
-webkit-animation: in-left 300ms ease 0ms 1 forwards;
animation: in-left 300ms ease 0ms 1 forwards;
}
.out-top .info {
-webkit-transform-origin: 50% 0%;
transform-origin: 50% 0%;
-webkit-animation: out-top 300ms ease 0ms 1 forwards;
animation: out-top 300ms ease 0ms 1 forwards;
}
.out-right .info {
-webkit-transform-origin: 100% 50%;
transform-origin: 100% 50%;
-webkit-animation: out-right 300ms ease 0ms 1 forwards;
animation: out-right 300ms ease 0ms 1 forwards;
}
.out-bottom .info {
-webkit-transform-origin: 50% 100%;
transform-origin: 50% 100%;
-webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
animation: out-bottom 300ms ease 0ms 1 forwards;
}
.out-left .info {
-webkit-transform-origin: 0% 0%;
transform-origin: 0% 0%;
-webkit-animation: out-left 300ms ease 0ms 1 forwards;
animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
from {
-webkit-transform: rotate3d(-1, 0, 0, 90deg);
transform: rotate3d(-1, 0, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@keyframes in-top {
from {
-webkit-transform: rotate3d(-1, 0, 0, 90deg);
transform: rotate3d(-1, 0, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@-webkit-keyframes in-right {
from {
-webkit-transform: rotate3d(0, -1, 0, 90deg);
transform: rotate3d(0, -1, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@keyframes in-right {
from {
-webkit-transform: rotate3d(0, -1, 0, 90deg);
transform: rotate3d(0, -1, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@-webkit-keyframes in-bottom {
from {
-webkit-transform: rotate3d(1, 0, 0, 90deg);
transform: rotate3d(1, 0, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@keyframes in-bottom {
from {
-webkit-transform: rotate3d(1, 0, 0, 90deg);
transform: rotate3d(1, 0, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@-webkit-keyframes in-left {
from {
-webkit-transform: rotate3d(0, 1, 0, 90deg);
transform: rotate3d(0, 1, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@keyframes in-left {
from {
-webkit-transform: rotate3d(0, 1, 0, 90deg);
transform: rotate3d(0, 1, 0, 90deg);
}
to {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
}
@-webkit-keyframes out-top {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(-1, 0, 0, 104deg);
transform: rotate3d(-1, 0, 0, 104deg);
}
}
@keyframes out-top {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(-1, 0, 0, 104deg);
transform: rotate3d(-1, 0, 0, 104deg);
}
}
@-webkit-keyframes out-right {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(0, -1, 0, 104deg);
transform: rotate3d(0, -1, 0, 104deg);
}
}
@keyframes out-right {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(0, -1, 0, 104deg);
transform: rotate3d(0, -1, 0, 104deg);
}
}
@-webkit-keyframes out-bottom {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(1, 0, 0, 104deg);
transform: rotate3d(1, 0, 0, 104deg);
}
}
@keyframes out-bottom {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(1, 0, 0, 104deg);
transform: rotate3d(1, 0, 0, 104deg);
}
}
@-webkit-keyframes out-left {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(0, 1, 0, 104deg);
transform: rotate3d(0, 1, 0, 104deg);
}
}
@keyframes out-left {
from {
-webkit-transform: rotate3d(0, 0, 0, 0deg);
transform: rotate3d(0, 0, 0, 0deg);
}
to {
-webkit-transform: rotate3d(0, 1, 0, 104deg);
transform: rotate3d(0, 1, 0, 104deg);
}
}
/* you can ignore this ones */
.faq-area ul {
padding: 0;
margin: 0;
width: 100%;
}
.faq-area ul:after {
content: "";
display: table;
clear: both;
}

.faq-area .column {
padding:10px;
}
.faq-area a {
display: inline-block;
vertical-align: middle;
text-decoration: none;
border-radius: 4px;
}
.faq-area p {
/* line-height: 1.2;
color: rgba(255, 255, 255, 1); */
}
.faq-area .normal {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: rgba(52, 73, 94, 0.6);
    text-align: center;
    line-height: 200px;
    border: 1px solid #eee;
    border-bottom: 6px solid #006193;
}
.faq-area .normal:hover{
 box-shadow: 0 2px 20px #e6ebed;	
}
.faq-area .normal a{
font-size: 24px;
line-height: 30px;
padding: 10px; 
color: #333;
}
.faq-area .normal svg {
pointer-events: none;
width: 50px;
}
.faq-area .normal svg path {
fill: rgba(52, 73, 94, 0.2);
}

.button-orange-next {
	background-color: #d15f27;
	color: #fff;
	padding: 8px 50px;
	text-align: center;
	font-weight: 500;
	font-size: 1.25em;
	/*text-transform: uppercase;*/
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none!important;
	border:1px solid #d15f27;
	border-radius: 3px;

}
.button-white{
	background-color: #244A67;
	color: #fff;
	padding: 8px 50px;
	text-align: center;
	font-weight: 500;
	font-size: 1.25em;
	/*text-transform: uppercase;*/
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none!important;
	border:1px solid #fefefe;
	border-radius: 3px;
}
.button-orange-next:hover,
.button-orange-next:focus{
	background-color: #92421b;
	border:1px solid #92421b;

	color: #fff;	
}
.button-white:hover,
.button-white:focus{
	background-color: #fff;
	color: #244a67;	
}
.goals .btn-orange{
background-color: #f26522;
color: #fff; 
padding: 8px 20px;
font-size: 18px;
font-weight: normal;
}
.button-gray-back {
background-color: #ccc;
text-align: right;
margin-right: 8px;
}
.button-orange-next:after, .button-orange:after {
background-image: url(../images/arrow-white.png);
background-repeat: no-repeat;
content: "";
height: 16px;
margin-top: -8px;
pointer-events: none;
position: absolute;
right: 1em;
top: 50%;
width: 10px;
}
.advice {
margin: 20px auto 0;
padding: 20px;
color: #757575;
font-size: 1.0rem;
background: rgba(255,255,255,0.2);
border: 1px solid #cbe4f3;
}

.label {
    display: inline-block;
    padding: 20px;
    font-size: 1rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: 3px;
    background: rgba(223,239,239,0.5);
    color: #666;
}
/*video*/
.v-position {
padding-top: 10px;
padding-bottom: 30px;
}
.v-col {
padding-left: 15px;
padding-right: 15px;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
.layout-16x9-wrapper {
position: relative;
}
.layout-16x9-image, 
.layout-16x9-main {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 1;
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
.mod-video-image {
width: 100%;
height: 100%;
}
.video-play-icon {
position: absolute;
left: 50%;
top: 50%;
display: block;
background-repeat: no-repeat;
height: 100px;
width: 100px;
margin: -36px 0 0 -36px;
transition: transform .25s ease-in;
opacity: 0.6;
}
.video-play-icon:active, 
.video-play-icon:focus, 
.video-play-icon:hover {
transition: transform .25s ease-in;
-webkit-transform: scale3d(1.2, 1.2, 1.2);
transform: scale3d(1.2, 1.2, 1.2);
opacity: 1;
}
.chart-area{
	background: #fff;
}
.dotted{border-bottom: 1px dotted #ccc;}
.pie-chart,
.area-chart,
.btn-area{
	padding-bottom: 50px;
	padding-top: 50px;
}
.btn-area .btn-box{
	width:50%;
}
.btn-area .link{
	display: block;
}
.left.btn-box{
	float: left;
}
.right.btn-box{
	float: left;
}
.acd-header{
/* 	background-color: #006193;
	color: #fff;  */
	    height: 60px;
	/* border-bottom: 1px solid #eee; */
}
.acd-header h2{
	text-indent: 50px;
}
.accodtion-area .menu.nested{
  margin-left: 0;
}
.accodtion-area .menu>li>a{
	padding: 0;
}
.acd-header .acd-title{
	float: left;
	color: #fff;	
}
.acd-sub-header .acd-title{
	float: left;
	color: #333;	
}
.acd-sub-header .acd-persent{
	float: right;
	color: #333l
}
.is-accordion-submenu-parent>a:after{
	left:0px;
	color:#006193;
}
.acd-header .acd-persent{
	float: right;
	color: #fff;
	padding-right: 50px;
}
.acd-sub-header {
    border-top: 1px dotted #ccc;
    height: 50px;
    padding-bottom: 5px;
    font-size: 24px;
    /* padding-top: 10px; */
}
.acd-body-title {
	/* border-bottom: 1px dotted #ccc; */
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.acd-body-title .acd-link-title{
	float: left;
	color: #666;

}
.acd-body-title .acd-per-title{
	float: right;
	color: #666;
}
.acd-body-value{
	height: 40px;	
}
.acd-body-value .acd-link{
	float: left;

}
.acd-body-value .acd-per{
	float: right;

}
.accodtion-area .is-accordion-submenu-parent>a:after{
    color: #006193;
    border-color: #006193 transparent transparent;
}
/*need*/
.need-area [class*=fgo-panel] .flex-1, [class*=sub-panel] .flex-1 {
    -webkit-box-flex: 1;
    flex: 1 0 0;
    -ms-flex: 1 0 0;
    -webkit-flex: 1 0 0;
}
.need-area [class^=fgo-icon] {
    background-repeat: no-repeat;
}

.need-area  .contact-us-text {
/*     -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; */
    text-align: center;

}
.need-area .fgo-icon-faq {
    background-image: url(../images/faq.svg);
	background-size: 65px 65px;
    height: 68px;
    width: 65px;
	margin: 0 auto;}
.need-area .fgo-icon-chat-unavailable {
    background-image: url(../images/wechat.svg);
    background-size: 80px 70px;
    width: 80px;
    height: 70px;
    margin: 0 auto;
}
.need-area .fgo-icon-phone {
    background-image: url(../images/callcenter.svg);
    background-size: 78px 77px;
     height: 77px;
    width: 90px;
    margin: 0 auto;

}
.copyright p{
	margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 1.5;
}
.copyright p:last-child{
	margin-top: 0;
}
.video-area{
	background-color: #244a67;
	color: #fff;
}
.video-area h3{
	color: #fff;
}

/*card*/
.goal-wrap{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;

}
.goal-card{
/* 	float: left;
 */	width: 30%;
	min-height: 300px;
	border:1px solid #ccc;
    padding: 15px 20px 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 1%;
    margin-right: 1%;
}
a.goal-card:hover,
a.goal-card:focus{
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}
a.goal-card:nth-child(1):hover,
a.goal-card:nth-child(1):focus{
    box-shadow: 0 6px 6px rgba(95,175,175,0.15);
    box-shadow: 0 6px 6px rgba(95,175,175,0.15);
}
a.goal-card:nth-child(1):hover,
a.goal-card:nth-child(1):focus{
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}
a.goal-card:nth-child(1):hover,
a.goal-card:nth-child(1):focus{
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}
.pic-chart-desc.desc-top{
	width: 100%;

	text-align: left;
}
.pic-value{
	font-size: 24px;
	color: #006193;
}
.faq-area .normal{
	line-height: 240px;
}
a.faq-box{
 display: inline-block;
}
a.faq-box .faq-a{
	display: none;
	font-size: 16px;
	color: #006193;
}
a.faq-box:hover .faq-q{
	display: none;
}

a.faq-box:hover .faq-q~.faq-a{
	display: inline-block;
}

