
.squares {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.boxes {
    width: 100%;
    height: 80px;
    padding-left: 100px;
    padding-right: 120px;
}
.box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.box:nth-child(1), .box:nth-child(2) {
  position: absolute;
}
.box:nth-child(1) {
left: 110px;
    width: 76%;
    right: 100px;
}
.box:nth-child(2) {
  left: 2%;
  width: 96%;
}
.process.process-area{
  position: relative;
}
.progress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
    /* height: 3px;
 */    margin-bottom: 3rem;
    border-radius: 0;
    background-color: transparent;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ccc;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
.bar__fill {
  display: block;
  background: #ccc;
  height: 100%;
}

.point {
  position: relative;
  color: #AC9585;
  cursor: pointer;
}
.point:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.show-radius .point:before {
  background: rgba(0, 0, 0, 0.1);
}
.point--complete, .point--active {
  color: #BA7C3F;
}

.bullet {
  z-index: 1;
  position: relative;
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.point--complete .bullet, .point--active .bullet {
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 6px #5fafaf;
}
.point--active .bullet {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 10px #5fafaf;
}


.radius-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  background: #FFF;
  border: 0;
  border-radius: 4px;
  box-shadow: 40px 0 65px rgba(212, 197, 186, 0.4);
  padding: 10px;
  color: #BA7C3F;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.progress-note{
      position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
}
.progress-note .label {
    width: 100%;
    text-align: left;
}
.point.start{
  color: #5fafaf;
}
.point.start .bullet{
box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 0 0 5px #5fafaf;
    /* width: 30px; */
    /* height: 30px; */
    background: #fff;
}
.chart-area .area-chart{
  padding-top: 0;
}

[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus{
      border: none;
    box-shadow: none;
    border-bottom: 1px solid #244a67;
    background-color: transparent;
}
.progress-con{
  float: left;
  width: 100px;
  display: inline-block;
}

.progress-agg {
    float: right;
    width: 100px;
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 0;
}